html {
  font-family: sans-serif;
  --main-color: #0000FF;
  --secondary-color: #333333;
}

h1 {
  color: var(--main-color);
  text-align: center;
  margin-bottom: 0.25em;
}

h2 {
  color: var(--secondary-color);
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}

h3 {
  margin-top: 2em;
  text-align: center;
  color: var(--main-color);
}

a {
  color: var(--main-color);
}

section {
  margin-bottom: 3em;
  position: relative;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid #333333;
  border-collapse: collapse;
}

th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 2px solid #333333;
}

td {
  text-align: center;
  padding: 10px 20px;
  border: 2px solid #333333;
}

.text-center {
  text-align: center;
}

.cv {
  max-width: 900px;
  margin: 0 auto;
}

.buttons {
  width:90px;
  text-align: center;
  font-family: arial;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  border: #1071FF 1px solid;
  color: #1071FF;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 20px ;
  transition: .5s;
  border-radius: 0px;
}
.buttons:hover {
  top: 5px;
  transition: .5s;
  color: #10FF58;
  border: #10FF58 1px solid;
  border-radius: 10px;
}
.buttons:active {
  color: #000;
  border: #1A1A1A 1px solid;
  transition: .07s;
  background-color: #FFF;
}