<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/style/mystyle.css}">
</head>
<body>
<div class="cv">
    <section>
        <h1 class="text-center">Hello and welcome to our online cinema</h1>
        <div class="text-right">
            <p th:if="${curUser} == 'noBody'">You are not logged in</p>
            <a class="text-right" href="/login" th:if="${curUser} == 'noBody'">login</a>
            <div>
                <form th:action="@{/logout}" th:if="${curUser} != 'noBody'" method="post">
                    <p th:text="'Hello, ' + ${curUser}"></p>
                    <input type="submit" class="buttons" value="Sign Out"/>
                </form>
            </div>
        </div>

        <div sec:authorize="hasAuthority('ADMIN')" class="text-center">
            <h2>Extra options:</h2>
            <p><a href="/userList">Check all users on site</a></p>
            <p><a href="/addFilm">Add new film</a></p>
        </div>

    </section>

    <section>
        <div class="products">
            <div class="newproducts" th:each="element : ${map}">
                <div id="newproducts_caption">
                    <p th:text="${element.key.type}"></p>
                </div>
                <div class="product" th:each="prod : ${element.value}"
                     th:attr="onclick=|window.location.href='information?id=' + ${prod.id}|">
                    <img class="foto" th:src="@{'/images/' + ${prod.image}}" alt="Film's poster">
                    <div class="product_name" th:text="${prod.name}"></div>
                    <div class="product_price">
                        ₽ <span th:text="${prod.price}"></span><br>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>