<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/style/mystyle.css}">
</head>
<body>
<div class="cv">
    <section>
        <div class="text-info">
            <p th:if="${curUser} == 'noBody'">You are not logged in</p>
            <a class="text-right" href="/login" th:if="${curUser} == 'noBody'">login</a>
            <div>
                <form th:action="@{/logout}" th:if="${curUser} != 'noBody'" method="post">
                    <p th:text="'Hello, ' + ${curUser}"></p>
                    <p th:text="'Shopping Cart: ' + ${shoppingCart} + ' products'"></p>
                    <p><a href="/shoppingCart">View shopping cart</a></p>
                    <input type="submit" class="buttons" value="Sign Out"/>
                </form>
            </div>
        </div>
    </section>
    <section>
        <div class="info">
            <img class="foto_info" th:src="@{'/images/' + ${product.image}}" alt="Film's poster">
            <div class="short_description">
                <h3 class="text-center" th:text="${product.name}"></h3>
                <div class="sh_desc">
                    <table>
                        <tr>
                            <th>Age rating:</th>
                            <th th:text="${product.pg} + '+'"></th>
                        </tr>
                        <tr>
                            <th>Release:</th>
                            <th th:text="${product.year}"></th>
                        </tr>
                        <tr>
                            <th>Director:</th>
                            <th th:text="${product.director}"></th>
                        </tr>
                        <tr>
                            <th>You can buy it for:</th>
                            <th th:text="${product.price} + ' ₽'"></th>
                        </tr>
                    </table>
                </div>
                <br>
                <form th:action="@{/buy}" class="text-center" th:object="${product}" method="post">
                    <input type="hidden" th:field="*{id}">
                    <input type="submit" class="buttons" value="Buy ticket"/>
                </form>
            </div>
        </div>
        <div class="description">
            <h3>Description:</h3>
            <p th:text="${product.description}"></p>
        </div>
        <div sec:authorize="hasAuthority('ADMIN')" class="text-center">
            <h2>Admin option:</h2>
            <form th:action="@{/delete}" method="post" th:object="${product}">
                <input type="hidden" th:field="*{id}">
                <input type="submit" class="buttons text-center" value="Delete film"/>
            </form>
        </div>
        <a href="/">See all list of films</a>
    </section>
</div>

</body>
</html>