<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/style/mystyle.css}">
</head>
<body>
<div class="cv">
    <section>
        <h3 class = "text-center">User editor</h3>
        <form action="#" th:action="@{/userList}" th:object="${user}" method="post">
            <input type="text" readonly th:field="*{id}"/>
            <input type="text" th:value="${user.username}" th:field="*{username}">
            <div th:each="role : ${roles}">
                <label><input type="checkbox" th:text="${role}" th:checked="${user.roles.contains(role)}"/></label>
            </div>

            <p><input class="buttons" type="submit" value="Save"/> <input class="buttons" type="reset" value="Reset"/></p>
        </form>
    </section>
    <a href="/">Back home</a>
</div>

</body>
</html>