<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/style/mystyle.css}">
</head>
<body>
<div class="cv">
    <section>
        <h3 class = "text-center">List of all users on our site:</h3>
        <div>
            <table>
                <tr>
                    <th>User's id</th>
                    <th>User's name</th>
                    <th>User's role</th>
                    <th></th>
                </tr>
                <tr th:each="user : ${allUsers}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td><p th:each="role : ${user.roles}" th:text="${role} + ' '"></p></td>
                    <td><a th:attr="onclick=|window.location.href='userEdit?id=' + ${user.id}|">Edit</a></td>
                </tr>
            </table>
        </div>
    </section>
    <a href="/">Back home</a>
</div>

</body>
</html>